@using Microsoft.AspNetCore.Identity
@using Shop.Areas.Identity.Data
@using Shop.Areas.Identity.Pages.Account
@inject SignInManager<ShopUser> SignInManager
@inject UserManager<ShopUser> UserManager




@if (SignInManager.IsSignedIn(User))
{
    <div class="settings" id="settings">
        <div class="exit">
            <span>Ви увійшли під іменем @UserManager.GetUserName(User)</span>
            <a href="#"><img src="/img/delete.png" alt="exit" id="exit"></a>
        </div>
        <div class="menu-catalog">
            <a href="/Home/Catalog">Каталог товарів</a>
            <a href="#" onclick="RedirectToBasket('@UserManager.GetUserId(User)')">Кошик</a>
            <a href="/Home/UserOrders?UserId=@UserManager.GetUserId(User)">Мої замовлення</a>
		    <a href="/Home/OrderRequest?UserId=@UserManager.GetUserId(User)">Запити на замовлення</a>
			<a href="/Home/ChooseCategory">Створити продукт</a>
			<a href="/Home/Settings">Налаштування</a>
    </div>
    <div class="help">
     <span>Гаряча лінія</span>
     <span>380673283244</span>
    </div>
</div>
 <div class="menu" id="menu">
     <span class="menu-line"></span>
     <span class="menu-line"></span>
     <span class="menu-line"></span>
 </div>
    <div class="catalog">
        <a href="/Home/Index"><img img src="/img/catalog.png" alt="catalog">Головна</a>
    </div>
    <div class="catalog">
        <a href="/Home/Catalog"><img src="/img/catalog.png" alt="catalog">Каталог</a>
    </div>
    <form asp-controller="Home" asp-action="Search">
         <label for="search"></label>
        <input type="text" placeholder="Я шукаю.." id="search" name="request">
        <input type="submit" value="Знайти"/>
    </form>
    <div class="catalog">
        <a  id="head-login" href="#" class="login"><img src="/img/log-in.png" alt="catalog" id="enter">
		<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Home/Index", new { area = "" })" method="post">
                <button type="submit" class="userExit">Вийти</button>
            </form>
		</a>
    </div>
    <div class="basket" id="ref-basket" onclick="RedirectToBasket('@UserManager.GetUserId(User)')" >
        <div id="basket" class="ad">
            <span id="count">4</span>
        </div>
     </div>
}
else{
    <div class="settings" id="settings">
        <div class="exit">
            <span>Авторизуйтесь для отримання розширених можливостей</span>
            <a href="#"><img src="/img/delete.png" alt="exit" id="exit"></a>
        </div>
        <div class="sing-or-register">
            <img src="/img/log-in.png" alt="enter">
            <a href="/Identity/Account/Login" id="login" class="login">Увійти</a>
            <div class="line"></div>
            <a href="/Identity/Account/Register" id="register">Зареєструватися</a>
        </div>
        <div class="menu-catalog">
            <a href="/Home/Catalog">Каталог товарів</a>
    </div>
    <div class="help">
     <span>Гаряча лінія</span>
     <span>380673283244</span>
    </div>
</div>
 <div class="menu" id="menu">
     <span class="menu-line"></span>
     <span class="menu-line"></span>
     <span class="menu-line"></span>
 </div>
    <div class="catalog">
        <a href="@Url.Action("Index")"><img img src="/img/catalog.png" alt="catalog">Головна</a>
    </div>
    <div class="catalog">
        <a href="/Home/Catalog"><img src="/img/catalog.png" alt="catalog">Каталог</a>
    </div>
     <form asp-controller="Home" asp-action="Search">
         <label for="search"></label>
        <input type="text" placeholder="Я шукаю.." id="search" name="request">
        <input type="submit" value="Знайти"/>
    </form>
    <div class="catalog">
        <a  id="head-login" href="/Identity/Account/Login" class="login"><img src="/img/log-in.png" alt="catalog" id="enter">Увійти</a>
    </div>
}

