@model dynamic
@inject IProductRepo repository
@inject PageInfo Info
@using Microsoft.AspNetCore.Identity
@using Shop.Areas.Identity.Data
@using Shop.Areas.Identity.Pages.Account
@using Shop.Interfaces;
@inject SignInManager<ShopUser> SignInManager
@using Shop.Paging;
@{
    ViewData["Title"] = "Basket";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="body-basket">
        <div class="basket-action">
            <a href="#"><img src="/img/filter.png" alt=""></a>
            <a href="#"><img src="/img/trash.png" alt=""></a>
        </div>
        @foreach (var item in Model.Product)
        {
            <div>
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(repository.GetPhotoById(@item.Id)))" alt="goods">
                <span><a href="#">@item.Name</a></span>
                <span><img src="/img/the-sum-of.png" alt="">@item.Price</span>
                <div class="action">
                    <a href="#">Оформити заказ</a>
                    <a href="#">Видалити</a>
                </div>
            </div>
        }
    </div>
}

@*<form id="pageForm" class="paginate">
    @for(int i=1;i<=@Info.GetTotalPage(@Model.Count(),5);i++){
    @if(i==1){<input type="hidden" id="pageId" name="page"/>}
    <button id="@i" onclick="GetId(@i)">@i</button>
    }
    </form>*@
