@model dynamic
@inject IProductRepo repository
@inject PageInfo Info
@using Microsoft.AspNetCore.Identity
@using Shop.Areas.Identity.Data
@using Shop.Areas.Identity.Pages.Account
@using Shop.Interfaces;
@inject SignInManager<ShopUser> SignInManager
@using Shop.Paging;
@{
    ViewData["Title"] = "Basket";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="body-basket">
        <div class="basket-action">
            <a href="#"><img src="/img/filter.png" alt=""></a>
            <a href="#"><img src="/img/trash.png" alt=""></a>
        </div>
        @foreach (var item in Model.Product)
        {
            <div class="BasketProduct" id="@item.ProductId">
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(repository.GetPhotoById(@item.Id)))" alt="goods">
                <span><a href="#">@item.Name</a></span>
                <span><img src="/img/the-sum-of.png" alt="">@item.Price</span>
                <div class="action">
                    <a href="/Home/СheckoutPage?ProductId=@item.ProductId">Оформити замовлення</a>
                    <a href="#" onclick="DeleteProductFromBasket(@item.ProductId)">Видалити</a>
                </div>
            </div>
        }
    </div>
}

