@model dynamic
@inject IProductRepo repository
@inject PageInfo Info
@using Microsoft.AspNetCore.Identity
@using Shop.Areas.Identity.Data
@using Shop.Areas.Identity.Pages.Account
@using Shop.Interfaces;
@inject SignInManager<ShopUser> SignInManager
@using Shop.Paging

@{
    ViewData["Title"] = "Basket";
}

@if (SignInManager.IsSignedIn(User))
{
    @if(Model.Product!=null){
    <div class="body-basket">
        @foreach (var item in Model.Product)
        {
            <div class="BasketProduct" id="@item.ProductId">
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(repository.GetPhotoById(@item.Id)))" alt="goods">
                <span><a href="/Home/ProductPage?productId=@item.ProductId">@item.Name</a></span>
                <span class="bPrice"><img src="/img/the-sum-of.png" alt="">@item.Price$</span>
                <div class="action">
                    <a href="/Home/СheckoutPage?ProductId=@item.ProductId">Оформити замовлення</a>
                    <a href="#" onclick="DeleteProductFromBasket(@item.ProductId)">Видалити</a>
                </div>
            </div>
        }
    </div>
	}else{
	  <div class="center">Корзина пуста</div>
	}
}

