@model dynamic
@using Shop.Interfaces
@inject IProductRepo repository

@if(Model!=null){
<div class="center"><span>Пройдить в найближече відділення вказаної пошти для відправки товару</span>
<span>Замовлення буде помічено "виконане", коли замовник отримає товар</span>
</div>
 <div class="ReT">
  <table>
  <thead>
   <tr>
      <th>Імя</th>
	  <th>Призвіще</th>
	  <th>Адрес доставки</th>
	   <th>Назва продукту</th>
	   <th>Звязок</th>
	   <th>Спосіб оплати</th>
	   <th>Статус</th>
   </tr>
  </thead>
  <tbody>
   @foreach(var item in Model){
    <tr>
	  <td>@item.UserName</td>
	  <td>@item.LastName</td>
	  <td>@item.SendAdress</td>
	  <td>@item.ProductName</td>
	  <td>@item.Number</td>
	  <td>@item.PaymentMethod</td>
	  @if(repository.IsCompleted(@item.ProductId)){
	      <td style="color:green;">Виконане</td>
	  }else{<td style="color:orange;">Не виконане</td>}
	</tr>
   }
  </tbody>
  </table>
 </div>
 }else{<div class="center"><span>Запитів на відправку немає</span></div>}