@model dynamic
@using Microsoft.AspNetCore.Identity
@using Shop.Areas.Identity.Data
@using Shop.Interfaces
@inject IProductRepo repository
@inject UserManager<ShopUser> UserManager
@{
    int i=0;
}


@if(@Model.User!=null){
<div class="about-product">
    <a href="#" class="product-menu" id="product">Товар</a>
    <a href="/Home/Characteristics?productId=@Model.Productid" class="product-menu" id="more">Характеристики</a>
    <a href="/Home/Requests?productId=@Model.Productid" class="product-menu" id="reviews">Відгуки</a>
</div>
<div class="product-wrap" id="product-wrap">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<div class="product-photo">
        <div class="product-photos">
            <div id="carouselExampleControls" class="carousel slide carousel-dark">
                <div class="carousel-inner">
				@foreach(var photo in Model.Photo){
                    @if(i==0){
                    <div class="carousel-item active">
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(photo.Img))" class="d-block w-130" alt="...">
                    </div>}else{ <div class="carousel-item">
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(photo.Img))" class="d-block w-130" alt="...">
                    </div> }
					}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        @foreach(var item in Model.User){
        <div class="info">
            <div class="product-price">
                <span><img src="/img/the-sum-of.png" alt="">@item.Price</span>
                @if(repository.DetectUserProduct(@UserManager.GetUserId(User),@Model.Productid)){
                    <a href="#"><span><img src="/img/trolley.png" alt="">Ваш продукт</span></a>
                    <a href="/Home/Index"><span><img src="/img/search.png" alt="">На головну</span></a>
                }else{<a onclick="AddProduct(@Model.Productid,'@UserManager.GetUserId(User)')"><span><img src="/img/trolley.png" alt="">В коpзину</span></a>
                <a href="/Home/СheckoutPage?ProductId=@Model.Productid"><span><img src="/img/search.png" alt="">Оформити замовлення</span></a>
                }
 
            </div>
            <div class="garantee">
                <span>Додаткові функції</span>
                <label for="1year"><input type="radio" id="1year" name="year">Продовження гарантії на 1 рiк 1 309
                    ₴</label>
                <label for="2yeaer"><input type="radio" id="2yeaer" name="year">Продовження гарантії на 2 роки 2 499
                    ₴</label>
            </div>
            <div class="seller">
                <span class="up">Данні для звязку з продавцем</span>
                <span>Продавець</span>
                <span>Номер</span>
                <span>Пошта</span>
                <span>@item.Name</span>
                <span>@item.Number</span>
                <span>@item.Email</span>
                <span class="up">Соц.мережі</span>
                <span>Telegram</span>
                <span>WhatsApp</span>
                <span>Viber</span>
                <a href="#"><img src="/img/telegram.png" alt=""></a>
                <a href="#"><img src="/img/whatsapp.png" alt=""></a>
                <a href="#"><img src="/img/viber.png" alt=""></a>
            </div>
        </div>
        }
    </div>
 </div>
 }else{<div class="center">такого продукту не існує</div>}

