@model dynamic
@using Shop.Interfaces
@inject IProductRepo repository

@if(@Model!=null){
<div class="center"><span>Ваші замовлення</span></div>
 <div class="UserOrders">
  <table>
  <thead>
   <tr>
      <th>Назва продукту</th>
	  <th>Ціна</th>
	  <th>Адрес доставки</th><!--Y-->
	   <th>Відправкник</th><!--Y-->
	   <th>Звязок з відправником</th>
	   <th>Спосіб оплати</th><!--Y-->
	   <th>Дії</th>
   </tr>
  </thead>
  <tbody>
   @foreach(var item in Model){
    <tr>
	  <td>@item.ProductName</td>
	  <td>@item.Price</td>
	  <td>@item.SendAdress</td>
	  <td>@item.Sender</td>
	  <td>@item.Number</td>
	  <td>@item.PaymentMethod</td>
	  @if(repository.IsCompleted(@item.ProductId )){
	    <td style="color:green;">Замовленяя виконане</td>
	  }else{<td><button class="Completed" id="@item.ProductId" onclick="ComletedOrders(@item.ProductId)">Замовленяя виконано</button></td>}
	</tr>
   }
  </tbody>
  </table>
 </div>
 }else{<div class="center"><span>У вас немає замовлень</span></div>}
 